<h1>Welcome to My App</h1>

<!-- Link to the "foods" route -->
<%= link_to "Foods", foods_path, class: "btn btn-primary" %>

<!-- Link to the "recipes" route -->
<%= link_to "Recipes", recipes_path, class: "btn btn-primary" %>
